node_modules
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.local
.env.*.local
/vendor
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/
*.swp
*.swo
*~
.idea/
.vscode/
.phpstorm.meta.php
_ide_helper.php
composer.lock
